/* SWT Controls */

CLabel {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
  clabel-foreground-color: '#de-irotation-eclipse-ui-themes-FG';
}

CTabItem, CTabItem:selected {
  color: '#de-irotation-eclipse-ui-themes-FG';
}

CTabFolder {
  swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
  swt-selected-tab-fill: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-unselected-tabs-color: '#de-irotation-eclipse-ui-themes-SHELL_BG' '#de-irotation-eclipse-ui-themes-PART_BG' '#de-irotation-eclipse-ui-themes-PART_BG' 99% 100%;
  /*
  swt-unselected-tabs-color: '#de-irotation-eclipse-ui-themes-INACTIVE_BG' '#de-irotation-eclipse-ui-themes-PART_BG' '#de-irotation-eclipse-ui-themes-PART_BG' 99% 100%;
  */
  swt-outer-keyline-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  swt-inner-keyline-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  swt-tab-outline: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  padding: 2px 2px 2px 2px;
  swt-corner-radius: 6px;
  swt-shadow-visible: false;
  swt-mru-visible: true;
  swt-simple: false;
  swt-unselected-hot-tab-color-background: '#de-irotation-eclipse-ui-themes-PART_BG';
}

StyledText {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
  swt-scrollbar-themed: true;
  swt-scrollbar-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-scrollbar-foreground-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
  swt-scrollbar-width: 4px;
  swt-scrollbar-border-radius: 4px;
  swt-scrollbar-mouse-near-scroll-width: 12px;
  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #73828c;
  flat-scroll-bar-page-increment: #3e464c;
}

Tree {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
  swt-header-color: '#de-irotation-eclipse-ui-themes-FG';
  swt-header-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-tree-arrows-color:'#de-irotation-eclipse-ui-themes-FG';
  swt-tree-arrows-mode: triangle;
  swt-selection-foreground-color: '#de-irotation-eclipse-ui-themes-FG';
  swt-selection-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-hot-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-selection-border-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  swt-hot-border-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';

  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #73828c;
  flat-scroll-bar-page-increment: #3e464c;
  flat-scroll-bar-background-top-level: #1c1f22;
}

Table {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
  swt-header-color: '#de-irotation-eclipse-ui-themes-FG';
  swt-header-background-color:'#de-irotation-eclipse-ui-themes-PART_BG';
  swt-selection-foreground-color: '#de-irotation-eclipse-ui-themes-FG';
  swt-selection-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-hot-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-selection-border-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  swt-hot-border-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  table-header-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';

  flat-scroll-bar: true;
  flat-scroll-bar-thumb: #73828c;
  flat-scroll-bar-page-increment: #3e464c;
  flat-scroll-bar-background-top-level: #1c1f22;
}

Form {
  background: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-image: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';

  text-background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  tb-toggle-hover-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  tb-toggle-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  h-hover-full-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  h-hover-light-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  h-bottom-keyline-2-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  h-bottom-keyline-1-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  swt-background-mode: 'force';
}

FormHeading {
  background: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-image: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}

Section {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
  background-color-titlebar: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-color-gradient-titlebar: '#de-irotation-eclipse-ui-themes-PART_BG';
  border-color-titlebar: '#de-irotation-eclipse-ui-themes-PART_BG';
}

Hyperlink {
	foreground-color: '#de-irotation-eclipse-ui-themes-LINK_COLOR';
	color: '#de-irotation-eclipse-ui-themes-LINK_COLOR';
	background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
}

Text {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
  border-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';

}

Sash,
SashForm,
FormText,
Label,
Canvas,
ScrolledComposite,
Composite,
Group,
Splitter,
ViewForm,
LayoutComposite,
Link,
ProxyEntriesComposite,
NonProxyHostsComposite {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}

/* funktioniert nicht */
TabFolder {
  background: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  background-image: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}

Composite#BreadcrumbComposite,
Composite#BreadcrumbItemComposite,
Composite#BreadcrumbItemDetailTextComposite,
Composite#BreadcrumbItemDetailImageComposite,
Composite#BreadcrumbItemDetailComposite,
Label#BreadcrumbItemDetailImageLabel,
Label#BreadcrumbItemDetailTextLabel {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
}

Button[style~='SWT.TITLE'] {
/*  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';*/
  color: '#de-irotation-eclipse-ui-themes-FG';
}

Button[style~='SWT.RADIO'] {
/*  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';*/
  color: '#de-irotation-eclipse-ui-themes-FG';
}

Button[style~='SWT.CHECK'] {
/*  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';*/
  color: '#de-irotation-eclipse-ui-themes-FG';
}


/* Parts - CSS Classes */

.MTrimmedWindow {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
}

.MTrimmedWindow.topLevel {
  margin-top:    0px;
  margin-bottom: 0px;
  margin-left:   2px;
  margin-right:  2px;
}

.MPartStack {
  swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
  swt-unselected-tabs-color: '#de-irotation-eclipse-ui-themes-INACTIVE_BG' '#de-irotation-eclipse-ui-themes-PART_BG' '#de-irotation-eclipse-ui-themes-PART_BG' 99% 100%;
  swt-outer-keyline-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  swt-inner-keyline-color: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  padding: 2px 2px 2px 2px;
  swt-tab-outline: '#de-irotation-eclipse-ui-themes-PART_BORDER';
  swt-shadow-visible: false;
  swt-mru-visible: false;
  swt-corner-radius: 6px;
  font-family: '#org-eclipse-ui-workbench-TAB_TEXT_FONT';
}

.MPartStack.active {
  swt-unselected-tabs-color: '#de-irotation-eclipse-ui-themes-SHELL_BG' '#de-irotation-eclipse-ui-themes-PART_BG' '#de-irotation-eclipse-ui-themes-PART_BG' 99% 100%;
}

.MPartStack.empty {
  swt-unselected-tabs-color: '#de-irotation-eclipse-ui-themes-INACTIVE_BG' '#de-irotation-eclipse-ui-themes-PART_BG' '#de-irotation-eclipse-ui-themes-PART_BG' 99% 100%;
}

#PerspectiveSwitcher  {
  eclipse-perspective-keyline-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
  handle-image: none;
}

.MToolControl.TrimStack {
  frame-image:  url(./win7TSFrame.png);
  handle-image:  url(./win7Handle.png);
  frame-cuts: 5px 1px 5px 16px;
}

.MToolBar.Draggable {
  handle-image:  url(./dragHandle.png);
}

.MToolControl.Draggable {
  handle-image:  url(./dragHandle.png);
}

.DragFeedback {
  background-color: COLOR-WIDGET-NORMAL-SHADOW;
}

.ModifiedDragFeedback {
  background-color: #A0A000;
}

.MTrimBar {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
}

.MTrimBar#org-eclipse-ui-main-toolbar {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
}

.MToolControl {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}

.MToolControl Canvas,
.MToolControl Composite,
.MToolControl CLabel {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}

.MPartSashContainer {
  background-color: '#de-irotation-eclipse-ui-themes-SHELL_BG';
}

/* Special Overrides */

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
  swt-shadow-visible: false;
}

Form FormHeading TitleRegion Label {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-LINK_COLOR';
}

Section Composite {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}


#org-eclipse-ui-console-ConsoleView .MPart > Composite,
#org-eclipse-ui-console-ConsoleView .MPart StyledText,
#org-eclipse-ui-console-ConsoleView .MPart PageBook Label {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}

.MPartStack.active #org-eclipse-ui-console-ConsoleView .MPart > Composite,
.MPartStack.active #org-eclipse-ui-console-ConsoleView .MPart StyledText,
.MPartStack.active #org-eclipse-ui-console-ConsoleView .MPart PageBook Label {
  background-color: '#de-irotation-eclipse-ui-themes-PART_BG';
  color: '#de-irotation-eclipse-ui-themes-FG';
}
