@import url("platform:/plugin/de.irotation.eclipse.ui.themes/css/base.css");

ThemesExtension {
  color-definition:
    '#de-irotation-eclipse-ui-themes-FG',
    '#de-irotation-eclipse-ui-themes-SHELL_BG',
    '#de-irotation-eclipse-ui-themes-INACTIVE_BG',
    '#de-irotation-eclipse-ui-themes-PART_BG',
    '#de-irotation-eclipse-ui-themes-PART_BORDER',
    '#de-irotation-eclipse-ui-themes-INPUT_BG',
    '#de-irotation-eclipse-ui-themes-LINK_COLOR'
  ;
}

ColorDefinition#de-irotation-eclipse-ui-themes-FG {
  color: #abb2bf;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=FG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-SHELL_BG {
  color: #404754;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=SHELL_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-INACTIVE_BG {
  color: #22252c;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=INACTIVE_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-PART_BG {
  color: #292c34;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=PART_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-PART_BORDER {
  color: #181a1f;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=PART_BORDER');
}

ColorDefinition#de-irotation-eclipse-ui-themes-INPUT_BG {
  color: #1e1f24;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=INPUT_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-LINK_COLOR {
  color: #61afef;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=LINK_COLOR');
}

IEclipsePreferences#org-eclipse-ui-editors:de-irotation-eclipse-ui-themes {
  preferences:
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.Background=40,44,52'
    'lineNumberColor=171,178,191'
}