@import url("platform:/plugin/de.irotation.eclipse.ui.themes/css/base.css");

ThemesExtension {
  color-definition:
    '#de-irotation-eclipse-ui-themes-FG',
    '#de-irotation-eclipse-ui-themes-SHELL_BG',
    '#de-irotation-eclipse-ui-themes-INACTIVE_BG',
    '#de-irotation-eclipse-ui-themes-PART_BG',
    '#de-irotation-eclipse-ui-themes-PART_BORDER',
    '#de-irotation-eclipse-ui-themes-INPUT_BG',
    '#de-irotation-eclipse-ui-themes-LINK_COLOR'
  ;
}

ColorDefinition#de-irotation-eclipse-ui-themes-FG {
  color: #000000;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=FG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-SHELL_BG {
  color: #EDEDED;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=SHELL_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-INACTIVE_BG {
  color: #c5c5c5;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=INACTIVE_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-PART_BG {
  color: #C8C8C8;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=PART_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-PART_BORDER {
  color: #999999;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=PART_BORDER');
}

ColorDefinition#de-irotation-eclipse-ui-themes-INPUT_BG {
  color: #9e9e9e;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=INPUT_BG');
}

ColorDefinition#de-irotation-eclipse-ui-themes-LINK_COLOR {
  color: #256eaa;
  category: '#org-eclipse-ui-presentation-default';
  label: url('platform:/plugin/de.irotation.eclipse.ui.themes?message=LINK_COLOR');
}

IEclipsePreferences#org-eclipse-ui-editors:de-irotation-eclipse-ui-theme {
  preferences:
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.Background=200,200,200'
    'lineNumberColor=0,0,0'
}

IEclipsePreferences#org-eclipse-ui-workbench:de-irotation-eclipse-ui-theme {
  preferences:
    'DECORATIONS_COLOR=128,64,0'
    'org.eclipse.egit.ui.IgnoredResourceBackgroundColor=200,200,200'
		'org.eclipse.egit.ui.UncommittedChangeBackgroundColor=200,200,200'
}