IEclipsePreferences#org-eclipse-ui-editors:de-irotation-eclipse-ui-theme { 
  preferences:
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.Background=200,200,200'
    'lineNumberColor=0,0,0'
}

IEclipsePreferences#org-eclipse-ui-workbench:de-irotation-eclipse-ui-theme { 
  preferences:
    'DECORATIONS_COLOR=128,64,0'
    'CONTENT_ASSIST_BACKGROUND_COLOR=200,200,200'
    'org.eclipse.egit.ui.IgnoredResourceBackgroundColor=200,200,200'
    'org.eclipse.egit.ui.UncommittedChangeBackgroundColor=200,200,200'
    'org.eclipse.ui.workbench.INFORMATION_BACKGROUND=200,200,200'
    'org.eclipse.ui.workbench.HOVER_BACKGROUND=200,200,200'
}

IEclipsePreferences#org-eclipse-debug-ui:de-irotation-eclipse-ui-theme { 
  preferences:
    org.eclipse.debug.ui.consoleBackground=200,200,200
}

