<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/grey.css"
            id="de.irotation.eclipse.ui.themes.grey"
            label="IRotation Grey">
      </theme>
      <theme
            basestylesheeturi="css/dark.css"
            id="de.irotation.eclipse.ui.themes.dark"
            label="IRotation Dark">
      </theme>
   </extension>

</plugin>
